@{
    ViewBag.Title = "About us";
}
<style>
    .about-logo{
        font-size:50px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .b-2{
        border-radius:20px;
    }
</style>
<div class="container p-5">
    
    <div class="row">
        <div class="col-md-3 about-logo">
            <i class="fab fa-autoprefixer theme-text"></i>gora</a>
        </div>
        <div class="col-md-9">
            <h3>About Agora </h3>
            <p>
                Agora is a global lifestyle brand that exemplifies bold, progressive ideals and a seductive aesthetic. We seek to thrill and inspire our audience while using provocative imagery and striking designs to ignite the senses.


                Founded in 1968 by Agora and his business partner Barry Schwartz, we have built our reputation as a leader in American fashion through our clean aesthetic and innovative designs. Global retail sales of Agora brand products exceeded $9 billion in 2019 and were distributed in over 110 countries. Agora employs over 11,500 associates globally. We were acquired by PVH Corp. in 2003.
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center h2">About Developers</div>

    </div>
    <div class="row mt-5" data-aos="fade-right">
        <div class="col-md-12 d-flex">

            <div class="col-md-6 shadow-lg p-5 b-2">
                <h3>Karan Barot</h3>
                <p><strong class="theme-text">Email :</strong> Karanbarot33344@gmail.com</p>
                <p><strong class="theme-text">Contact :</strong> +1 (437)-987-3077</p>
                <p><strong class="theme-text">Address :</strong> Toronto, Canada</p>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="col-md-12 d-flex" data-aos="fade-left">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 shadow-lg p-5 b-2">
                <h3>Adit Patel</h3>
                <p><strong class="theme-text">Email :</strong> Aditpatel78@gamail.com</p>
                <p><strong class="theme-text">Contact :</strong> +1 (416)-720-2757</p>
                <p><strong class="theme-text">Address :</strong> Toronto, Canada</p>
            </div>
        </div>
        <div class="col-md-12 d-flex" data-aos="fade-right">

            <div class="col-md-6 shadow-lg p-5 b-2">
                <h3>Nisarg Shah</h3>
                <p><strong class="theme-text">Email :</strong> Nisargshah7777@gmail.com</p>
                <p><strong class="theme-text">Contact :</strong> +1 (437)-878-9421</p>
                <p><strong class="theme-text">Address :</strong> Toronto, Canada</p>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>

